@charset "utf-8";

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

p {
    margin: 2.0rem 0;
}

p.center {
    text-align: center;
}

p.big {
    font-size: 2.0rem;
}
