@charset "utf-8";

/* @import url(https://fonts.googleapis.com/css?family=Noto+Serif+JP:400,700&display=swap&text=白木); */

/* @import url(https://fonts.googleapis.com/css?family=Noto+Serif+JP:400,700&display=swap); */

* {
    box-sizing: border-box;
}

.ws-fade-box {
    position: relative;
    margin: 1.0em auto;
    padding: 1.0em;
    font-size: 20px;
    width: 50%;
    height: auto;
    border: 1px solid #999999;
    z-index: 0;
}

.ws-fade-box img {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

.ws-fade-box.ws-fade {
    height: 160px;
    overflow: hidden;
}

.ws-fade-box.ws-fade::before {
    position: absolute;
    margin: 0;
    padding: 0;
    content: "";
    top: auto;
    bottom: 0;
    left: 0;
    right: auto;
    width: 100%;
    height: 150px;
    background: linear-gradient( to bottom, #ffffff00 0%, #ffffffff 80% );
    z-index: 1;
}

div.ws-more-button {
    margin: 0 auto;
    padding: 10px 20px;
    width: max-content;
    height: auto;
    color: #ffffff;
    background-color: #0000ff;
    border-radius: 4px;
    transition: 0.5s;
    cursor: pointer;
}

.ws-fade-box div.ws-more-button {
    position: absolute;
    display: none;
    content: "";
    top: auto;
    bottom: 10px;
    left: 50%;
    right: auto;
    opacity: 0.0;
    transform: translateX( -50% );
    z-index: 2;
}

.ws-fade-box.ws-fade div.ws-more-button {
    display: block;
    opacity: 1.0;
}

@media ( hover: hover ) {
    .ws-fade-box.ws-fade div.ws-more-button:hover {
        opacity: 0.5;
    }
}
