@charset "utf-8";

* {
    box-sizing: border-box;
}

html {
    margin; 0;
    padding: 0;
    width: 100%;
    font-size: clamp( 16px, 1.2vw, 20px );
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

img#upload-img {
    margin: 0;
    padding: 0;
    vertical-align: middle;
    width: 100%;
    max-width: 300px;
    height: auto;
    box-shadow: 0 0 2px #ccc;
}
