@charset "utf-8";

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 16px;
    --speed: 0.5s;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    color: #333;
    background: #eee;
}

h1 {
    margin: 0.5rem 0;
    padding: 0 1.0rem;
    font-size: 2.0rem;
}

.sel-speed {
    margin: 0.5rem 0;
    padding: 0 1.0rem;
    font-size: 1.0rem;
}

.sp-area {
    margin: 0 auto;
    padding: 0 1.0rem 1.0rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2.0rem;
    display: grid;
    grid-template-columns: repeat( auto-fit, 300px );
}

.sp-view {
    position: relative;
    margin: 0;
    padding: 0;
    width: 300px;
    height: 400px;
    background: #f8f8f8;
    border: 1px solid #ccc;
    box-shadow: 0 0 0.5rem #0003;
    overflow: hidden;
}

.sp-view .sp-desc {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    font-size: 1.0rem;
    text-align: center;
}
.sp-view .sp-desc:focus,
.sp-view .sp-desc:active {
    color: #f00;
}

.sp-view header {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 10px;
    width: 100%;
    height: 60px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0 4px #ccc;
}
header .sp-menu-btn {
    position: relative;
    margin: 0;
    padding: 0;
    width : 40px;
    height: 40px;
    cursor: pointer;
    z-index: 11;
}
header .sp-menu-check {
    position: absolute;
    inset: 0;
    width: 1px;
    height: 1px;
    opacity: 0.0;
}
.sp-menu-btn .sp-menu-btn-label {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.sp-menu-btn-label .sp-menu-btn-icon,
.sp-menu-btn-icon::before,
.sp-menu-btn-icon::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background: #333;
    border-radius: 4px;
}
.sp-menu-btn-label .sp-menu-btn-icon {
    top: calc( 50% - 2px );
    transition: background var(--speed);
}
.sp-menu-btn-icon::before {
    content: "";
    top: calc( 50% - 12px );
    transition: transform var(--speed);
}
.sp-menu-btn-icon::after {
    content: "";
    top: calc( 50% + 8px );
    transition: transform var(--speed);
}
.sp-menu-check:checked + .sp-menu-btn > .sp-menu-btn-label > .sp-menu-btn-icon {
    background: transparent;
}
.sp-menu-check:checked + .sp-menu-btn > .sp-menu-btn-label > .sp-menu-btn-icon::before {
    transform: translateY( 12px ) rotate( 45deg );
}
.sp-menu-check:checked + .sp-menu-btn > .sp-menu-btn-label > .sp-menu-btn-icon::after {
    transform: translateY( -8px ) rotate( -45deg );
}

.sp-menu-check ~ .sp-menu {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 1.0rem;
    background: #009;
    display: flex;
    flex-direction: column;
    align-item: flex-start;
    justify-content: flex-start;
    z-index: 10;
}

.sp-menu-check ~ .sp-menu a {
    margin: 0;
    padding: 0.5em 1.0rem;
    color: #fff;
    font-size: 1.0rem;
    text-decoration: none;
    transition: background var(--speed);
}
.sp-menu-check ~ .sp-menu a + a {
    border-top: 1px solid #fff3;
}    
@media ( hover: hover ) {
    .sp-menu-check ~ .sp-menu a:hover {
        background: #fff8;
    }
}


/**
 * 以降，比較的新しめなCSSの「入れ子(nesting)」を使っています
 */



/**
 * 上から下に降りるメニュー
 */
#sp1 {
    .sp-menu-check ~ .sp-menu {
        top: 100%;
        left: 0;
        width: 100%;
        height: auto;
        transform-origin: center top;
        transform: scaleY( 0.0 );
        transition: transform var(--speed);
    }
    .sp-menu-check:checked ~ .sp-menu {
        transform: scaleY( 1.0 );
    }
}


/**
 * 右から左にスライドするメニュー
 */
#sp2 {
    .sp-menu-check ~ .sp-menu {
        top: 100%;
        left: 0;
        width: 100%;
        height: auto;
        transform: translateX( 100% );
        transition: transform var(--speed);
    }
    .sp-menu-check:checked ~ .sp-menu {
        transform: translateX( 0 );
    }
}


/**
 * 右からひょっこり現れるメニュー
 */
#sp3 {
    .sp-menu-check ~ .sp-menu {
        top: 100%;
        left: 0;
        width: 100%;
        height: auto;
        transform: translateX( 100% );
        /* transition: transform 2.0s cubic-bezier( 0.5, 1.8, 0.0, 0.7 ); 弱ひょっこり */
        transition: transform 2.0s cubic-bezier( 0.5, 3.0, 0.0, 0.0 );
    }
    .sp-menu-check:checked ~ .sp-menu {
        transform: translateX( 0 );
        /* transition: transform 2.0s cubic-bezier( 1.0, 0.3, 0.5, -0.8 ); 弱ひょっこり */
        transition: transform 2.0s cubic-bezier( 1.0, 1.0, 0.5, -2.0 );
    }
}


/**
 * 右から左に拡大するメニュー
 */
#sp4 {
    .sp-menu-check ~ .sp-menu {
        top: 100%;
        left: 0;
        width: 100%;
        height: auto;
        transform-origin: right center;
        transform: scaleX( 0.0 );
        transition: transform var(--speed);
    }
    .sp-menu-check:checked ~ .sp-menu {
        transform: scaleX( 1.0 );
    }
}


/**
 * 左下に伸びて現れるメニュー
 */
#sp5 {
    .sp-menu-check ~ .sp-menu {
        top: 100%;
        left: 0;
        width: 100%;
        height: auto;
        transform-origin: right top;
        transform: scale( 0.0, 0.0 );
        transition: transform var(--speed);
    }
    .sp-menu-check:checked ~ .sp-menu {
        transform: scale( 1.0, 1.0 );
    }
}


/**
 * 左右に開いて現れるメニュー
 */
#sp6 {
    .sp-menu-check ~ .sp-menu {
        top: 100%;
        left: 0;
        width: 100%;
        height: auto;
        transform-origin: center center;
        transform: scaleX( 0.0 );
        transition: transform var(--speed);
    }
    .sp-menu-check:checked ~ .sp-menu {
        transform: scaleX( 1.0 );
    }
}


/**
 * ぼやっと現れるメニュー
 */
#sp7 {
    .sp-menu-check ~ .sp-menu {
        top: 100%;
        left: 0;
        width: 100%;
        height: auto;
        transform-origin: center;
        opacity: 0.0;
        transform: scale( 0.0, 0.0 );
        transition: transform var(--speed), opacity var(--speed);
    }
    .sp-menu-check:checked ~ .sp-menu {
        opacity: 1.0;
        transform: scale( 1.0, 1.0 );
    }
}


/**
 * くるくるっと現れるメニュー
 */
#sp8 {
    .sp-menu-check ~ .sp-menu {
        top: 100%;
        left: 0;
        width: 100%;
        height: auto;
        opacity: 0.0;
        transform: scale( 0.0, 0.0 ) rotate( -720deg );
        transition: transform var(--speed), opacity var(--speed);
    }
    .sp-menu-check:checked ~ .sp-menu {
        opacity: 1.0;
        transform: scale( 1.0, 1.0 ) rotate( 0 );
    }
}


/**
 * ちょっと立体的に現れるメニュー
 */
#sp9 {
    .sp-menu-check ~ .sp-menu {
        top: 100%;
        left: 0;
        width: 100%;
        height: auto;
        transform-origin: center top;
        transform: perspective(400px) rotateX( -90deg );
        transition: transform var(--speed);
    }
    .sp-menu-check:checked ~ .sp-menu {
        transform: perspective(400px) rotateX( 0deg );
    }
}


/**
 * 立体的に上下にくるくる現れるメニュー
 */
#sp10 {
    .sp-menu-check ~ .sp-menu {
        top: 100%;
        left: 0;
        width: 100%;
        height: auto;
        transform-origin: center;
        transform: perspective(400px) rotateX( -450deg );
        transition: transform var(--speed);
    }
    .sp-menu-check:checked ~ .sp-menu {
        transform: perspective(400px) rotateX( 0deg );
    }
}


/**
 * 立体的に左右にくるくる現れるメニュー
 */
#sp11 {
    .sp-menu-check ~ .sp-menu {
        top: 100%;
        left: 0;
        width: 100%;
        height: auto;
        transform-origin: center;
        transform: perspective(400px) rotateY( -450deg );
        transition: transform var(--speed);
    }
    .sp-menu-check:checked ~ .sp-menu {
        transform: perspective(400px) rotateY( 0deg );
    }
}


/**
 * なぜか下から現れるメニュー
 */
#sp12 {
    .sp-menu-check ~ .sp-menu {
        top: 100%;
        left: 0;
        width: 100%;
        height: auto;
        transform: translateY( 400px ); /* 通常は 100vh でよい */
        transition: transform var(--speed);
    }
    .sp-menu-check:checked ~ .sp-menu {
        transform: translateY( 0 );
    }
}


/**
 * 下から広がりながら現れるメニュー
 */
#sp13 {
    .sp-menu-check ~ .sp-menu {
        top: 100%;
        left: 0;
        width: 100%;
        height: auto;
        transform: scaleX( 0.0 ) translateY( 400px ); /* 通常は 100vh でよい */
        /* transition: transform var(--speed) cubic-bezier( .50, 2.00, 0.50, -2.00 );*/
        transition: transform var(--speed);
    }
    .sp-menu-check:checked ~ .sp-menu {
        transform: scaleX( 1.0 ) translateY( 0 );
    }
}


/**
 * なぜか左から現れるメニュー
 */
#sp14 {
    .sp-menu-check ~ .sp-menu {
        top: 100%;
        left: 0;
        width: 100%;
        height: auto;
        transform: translateX( -100% );
        transition: transform var(--speed);
    }
    .sp-menu-check:checked ~ .sp-menu {
        transform: translateX( 0 );
    }
}


/**
 * 右から全画面で現れるメニュー
 */
#sp15 {
    .sp-menu-check ~ .sp-menu {
        top: 0;
        left: 0;
        width: 100%;
        height: 400px;
        transform: translateX( 100% );
        transition: transform var(--speed);
    }
    .sp-menu-btn-icon::before,
    .sp-menu-btn-icon::after {
        transition: transform var(--speed), background var(--speed);
    }
    .sp-menu-check:checked ~ .sp-menu {
        transform: translateX( 0 );
    }
    .sp-menu-check:checked + .sp-menu-btn > .sp-menu-btn-label > .sp-menu-btn-icon::before,
    .sp-menu-check:checked + .sp-menu-btn > .sp-menu-btn-label > .sp-menu-btn-icon::after {
        background: #fff;
    }
}


/**
 * 上から全画面で現れるメニュー
 */
#sp16 {
    .sp-menu-check ~ .sp-menu {
        top: 0;
        left: 0;
        width: 100%;
        height: 400px;
        transform: translateY( -100% );
        transition: transform var(--speed);
    }
    .sp-menu-btn-icon::before,
    .sp-menu-btn-icon::after {
        transition: transform var(--speed), background var(--speed);
    }
    .sp-menu-check:checked ~ .sp-menu {
        transform: translateY( 0 );
    }
    .sp-menu-check:checked + .sp-menu-btn > .sp-menu-btn-label > .sp-menu-btn-icon::before,
    .sp-menu-check:checked + .sp-menu-btn > .sp-menu-btn-label > .sp-menu-btn-icon::after {
        background: #fff;
    }
}


/**
 * 中央から全画面で現れるメニュー
 */
#sp17 {
    .sp-menu-check ~ .sp-menu {
        top: 0;
        left: 0;
        width: 100%;
        height: 400px;
        opacity: 0.0;
        transform: scale( 0.0, 0.0 );
        transition: opacity var(--speed), transform var(--speed);
    }
    .sp-menu-btn-icon::before,
    .sp-menu-btn-icon::after {
        transition: transform var(--speed), background var(--speed);
    }
    .sp-menu-check:checked ~ .sp-menu {
        opacity: 1.0;
        transform: scale( 1.0, 1.0 );
    }
    .sp-menu-check:checked + .sp-menu-btn > .sp-menu-btn-label > .sp-menu-btn-icon::before,
    .sp-menu-check:checked + .sp-menu-btn > .sp-menu-btn-label > .sp-menu-btn-icon::after {
        background: #fff;
    }
}


/**
 * 右上から全画面でスライドするメニュー
 */
#sp18 {
    .sp-menu-check ~ .sp-menu {
        top: 0;
        left: 0;
        width: 100%;
        height: 400px;
        transform: translate( 100%, -100% );
        transition: transform var(--speed);
    }
    .sp-menu-btn-icon::before,
    .sp-menu-btn-icon::after {
        transition: transform var(--speed), background var(--speed);
    }
    .sp-menu-check:checked ~ .sp-menu {
        transform: translate( 0, 0 );
    }
    .sp-menu-check:checked + .sp-menu-btn > .sp-menu-btn-label > .sp-menu-btn-icon::before,
    .sp-menu-check:checked + .sp-menu-btn > .sp-menu-btn-label > .sp-menu-btn-icon::after {
        background: #fff;
    }
}
