@charset "utf-8";

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 16px;
    --speed: 0.5s;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    color: #333;
    background: #eee;
}

h1 {
    margin: 0.5rem 0;
    padding: 0 1.0rem;
    font-size: 2.0rem;
}

.sel-speed {
    margin: 0.5rem 0;
    padding: 0 1.0rem;
    font-size: 1.0rem;
}

.sp-area {
    margin: 0;
    padding: 0 1.0rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2.0rem;
}

.sp-view {
    position: relative;
    margin: 0;
    padding: 0;
    width: 300px;
    height: 400px;
    background: #f8f8f8;
    border: 1px solid #ccc;
    box-shadow: 0 0 4px #ccc;
    overflow: hidden;
}

.sp-view .sp-desc {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    font-size: 1.0rem;
    text-align: center;
}
.sp-view .sp-desc:focus,
.sp-view .sp-desc:active {
    color: #f00;
}

.sp-view header {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 10px;
    width: 100%;
    height: 60px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0 4px #ccc;
}
header .sp-menu-btn {
    position: relative;
    margin: 0;
    padding: 0;
    width : 40px;
    height: 40px;
    cursor: pointer;
    z-index: 11;
}
header .sp-menu-check {
    position: absolute;
    inset: 0;
    width: 1px;
    height: 1px;
    opacity: 0.0;
}
.sp-menu-btn .sp-menu-btn-label {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.sp-menu-btn-label .sp-menu-btn-icon,
.sp-menu-btn-icon::before,
.sp-menu-btn-icon::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background: #333;
    border-radius: 4px;
}
.sp-menu-btn-label .sp-menu-btn-icon {
    top: calc( 50% - 2px );
    transition: background var(--speed);
}
.sp-menu-btn-icon::before {
    content: "";
    top: calc( 50% - 12px );
    transition: transform var(--speed);
}
.sp-menu-btn-icon::after {
    content: "";
    top: calc( 50% + 8px );
    transition: transform var(--speed);
}
.sp-menu-check:checked + .sp-menu-btn > .sp-menu-btn-label > .sp-menu-btn-icon {
    background: transparent;
}
.sp-menu-check:checked + .sp-menu-btn > .sp-menu-btn-label > .sp-menu-btn-icon::before {
    transform: translateY( 12px ) rotate( 45deg );
}
.sp-menu-check:checked + .sp-menu-btn > .sp-menu-btn-label > .sp-menu-btn-icon::after {
    transform: translateY( -8px ) rotate( -45deg );
}

.sp-menu-check ~ .sp-menu {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 1.0rem;
    background: #009;
    display: flex;
    flex-direction: column;
    align-item: flex-start;
    justify-content: flex-start;
    z-index: 10;
}

.sp-menu-check ~ .sp-menu a {
    margin: 0;
    padding: 0.5em 1.0rem;
    color: #fff;
    font-size: 1.0rem;
    text-decoration: none;
    transition: background var(--speed);
}
.sp-menu-check ~ .sp-menu a + a {
    border-top: 1px solid #fff3;
}    
@media ( hover: hover ) {
    .sp-menu-check ~ .sp-menu a:hover {
        background: #fff8;
    }
}


/**
 * 上から下に降りるメニュー
 */
#sp1 .sp-menu-check ~ .sp-menu {
    top: 100%;
    left: 0;
    width: 100%;
    height: auto;
    transform-origin: center top;
    transform: scaleY( 0.0 );
    transition: transform var(--speed);
}

#sp1 .sp-menu-check:checked ~ .sp-menu {
    transform: scaleY( 1.0 );
}


/**
 * 右から左にスライドするメニュー
 */
#sp2 .sp-menu-check ~ .sp-menu {
    top: 100%;
    left: 0;
    width: 100%;
    height: auto;
    transform: translateX( 100% );
    transition: transform var(--speed);
}
#sp2 .sp-menu-check:checked ~ .sp-menu {
    transform: translateX( 0 );
}


/**
 * 右から左に拡大するメニュー
 */
#sp3 .sp-menu-check ~ .sp-menu {
    top: 100%;
    left: 0;
    width: 100%;
    height: auto;
    transform-origin: right center;
    transform: scaleX( 0.0 );
    transition: transform var(--speed);
}
#sp3 .sp-menu-check:checked ~ .sp-menu {
    transform: scaleX( 1.0 );
}


/**
 * ぼやっと現れるメニュー
 */
#sp4 .sp-menu-check ~ .sp-menu {
    top: 100%;
    left: 0;
    width: 100%;
    height: auto;
    transform-origin: center;
    opacity: 0.0;
    transform: scale( 0.0, 0.0 );
    transition: transform var(--speed), opacity var(--speed);
}
#sp4 .sp-menu-check:checked ~ .sp-menu {
    opacity: 1.0;
    transform: scale( 1.0, 1.0 );
}


/**
 * くるくるっと現れるメニュー
 */
#sp5 .sp-menu-check ~ .sp-menu {
    top: 100%;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 0.0;
    transform: scale( 0.0, 0.0 ) rotate( -720deg );
    transition: transform var(--speed), opacity var(--speed);
}
#sp5 .sp-menu-check:checked ~ .sp-menu {
    opacity: 1.0;
    transform: scale( 1.0, 1.0 ) rotate( 0 );
}


/**
 * ちょっと立体的に現れるメニュー
 */
#sp6 .sp-menu-check ~ .sp-menu {
    top: 100%;
    left: 0;
    width: 100%;
    height: auto;
    transform-origin: center top;
    transform: perspective(400px) rotateX( -90deg );
    transition: transform var(--speed);
}
#sp6 .sp-menu-check:checked ~ .sp-menu {
    transform: perspective(400px) rotateX( 0deg );
}


/**
 * なぜか下から現れるメニュー
 */
#sp7 .sp-menu-check ~ .sp-menu {
    top: 100%;
    left: 0;
    width: 100%;
    height: auto;
    transform: translateY( 400px ); /* 通常は 100vh でよい */
    transition: transform var(--speed);
}
#sp7 .sp-menu-check:checked ~ .sp-menu {
    transform: translateY( 0 );
}


/**
 * なぜか左から現れるメニュー
 */
#sp8 .sp-menu-check ~ .sp-menu {
    top: 100%;
    left: 0;
    width: 100%;
    height: auto;
    transform: translateX( -100% );
    transition: transform var(--speed);
}
#sp8 .sp-menu-check:checked ~ .sp-menu {
    transform: translateX( 0 );
}


/**
 * 右から全画面で現れるメニュー
 */
#sp9 .sp-menu-check ~ .sp-menu {
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    transform: translateX( 100% );
    transition: transform var(--speed);
}
#sp9 .sp-menu-btn-icon::before,
#sp9 .sp-menu-btn-icon::after {
    transition: transform var(--speed), background var(--speed);
}
#sp9 .sp-menu-check:checked ~ .sp-menu {
    transform: translateX( 0 );
}
#sp9 .sp-menu-check:checked + .sp-menu-btn > .sp-menu-btn-label > .sp-menu-btn-icon::before,
#sp9 .sp-menu-check:checked + .sp-menu-btn > .sp-menu-btn-label > .sp-menu-btn-icon::after {
    background: #fff;
}


/**
 * 上から全画面で現れるメニュー
 */
#sp10 .sp-menu-check ~ .sp-menu {
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    transform: translateY( -100% );
    transition: transform var(--speed);
}
#sp10 .sp-menu-btn-icon::before,
#sp10 .sp-menu-btn-icon::after {
    transition: transform var(--speed), background var(--speed);
}
#sp10 .sp-menu-check:checked ~ .sp-menu {
    transform: translateY( 0 );
}
#sp10 .sp-menu-check:checked + .sp-menu-btn > .sp-menu-btn-label > .sp-menu-btn-icon::before,
#sp10 .sp-menu-check:checked + .sp-menu-btn > .sp-menu-btn-label > .sp-menu-btn-icon::after {
    background: #fff;
}
