@charset "utf-8";

/* @import url(https://fonts.googleapis.com/css?family=Noto+Serif+JP:400,700&display=swap&text=逋ｽ譛ｨ); */

/* @import url(https://fonts.googleapis.com/css?family=Noto+Serif+JP:400,700&display=swap); */

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    color: #333;
    font-size: clamp( 16px, 1.6vw, 24px );
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}


.css-sample {
    margin: 2.0rem 0;
    padding: 0;
}


#css-sample-1 {
    text-align:center;
}

#css-sample-1 span {
    display: inline-block;
    font-family: serif;
    font-size: 2.0rem;
    font-weight: 700;
    opacity: 0.0;
    transform: scale( 1.0, 0.01 );
    transform-origin: center bottom;
    animation: anim-sample-1 5.0s infinite; /* forwards を指定すると終了後の状態を固定できる */
}

@keyframes anim-sample-1 {
    0% {
        opacity: 0.0;
        transform: scale( 1.0, 0.01 );
    }
    20% {
        opacity: 1.0;
        transform: scale( 1.0, 1.0 );
    }
    80% {
        opacity: 1.0;
        transform: scale( 1.0, 1.0 );
    }
    100% {
        opacity: 0.0;
        transform: scale( 1.0, 0.01 );
    }
}


#css-sample-2 {
    text-align:center;
}

#css-sample-2 span {
    display: inline-block;
    font-family: serif;
    font-size: 2.0rem;
    font-weight: 700;
    opacity: 0.0;
    transform: scale( 0.01, 0.01 ) translate( 0px, -200px ) rotate( 0deg );
    transform-origin: center center;
    animation: anim-sample-2 5.0s infinite; /* forwards を指定すると終了後の状態を固定できる */
}

@keyframes anim-sample-2 {
    0% {
        opacity: 0.0;
        transform: scale( 0.01, 0.01 ) translate( 0px, -200px ) rotate( 0deg );
    }
    25% {
        opacity: 1.0;
        transform: scale( 1.0, 1.0 ) translate( 0, 0 ) rotate( 360deg );
    }
    75% {
        opacity: 1.0;
        transform: scale( 1.0, 1.0 ) translate( 0, 0 ) rotate( 360deg );
    }
    100% {
        opacity: 0.0;
        transform: scale( 0.01, 0.01 ) translate( 0px, -200px ) rotate( 0deg );
    }
}


#css-sample-3 {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    background-image: url(./images/sample-3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#css-sample-3 div {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
    font-size: 1.0rem;
    font-weight: 700;
    white-space: nowrap;
    color: #fff;
    mix-blend-mode: difference;
    display: flex;
    align-items: center;
    animation: anim-sample-3 20.0s linear infinite;
}

@keyframes anim-sample-3 {
    0% {
        left: 100%;
        transform: scale( 1.0, 1.0 );
    }
    50% {
        left: calc( 50% - 5.0em );
        transform: scale( 10.0, 10.0 );
    }
    100% {
        left: -10.0em;
        transform: scale( 1.0, 1.0 );
    }
}


#css-sample-4 div {
    margin: 0 auto;
    font-family: sans-serif;
    font-size: 3.0rem;
    font-weight: 700;
    text-align: center;
    width: fit-content;
    background: linear-gradient( 90deg, #ffff00 0%, #00ffff 33%, #ffff00 66%, #00ffff 100%);
    background-size: 300% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: anim-sample-4 2s infinite linear;
}

@keyframes anim-sample-4 {
    0%   { background-position: left; }
    100% { background-position: right; }
}


#css-sample-5 {
    width: 100%;
    height: auto;
}

#css-sample-5 div {
    margin: 0 auto;
    padding: 0;
    width: fit-content;
    font-family: sans-serif;
    font-size: 3.0rem;
    font-weight: 700;
    background-image: url(./images/sample-3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


#css-sample-6 div {
    margin: 0 auto;
    padding: 1.0rem 2.0rem;
    width: fit-content;
    text-align: center;
    background: rgb( 255 160 96 / 1.0 );
    border-radius: 2.0rem;
    box-shadow: 8px 8px 4px #ccc,
                inset  4px  4px 4px rgb( 255 255 255 / 0.5 ),
                inset -4px -4px 4px rgb(   0   0   0 / 0.5 );
    transition: 0.5s;
    cursor: pointer;
}

#css-sample-6 div:hover {
    color: #009;
    background: rgb( 255 224 128 / 1.0 );
    transform: translate( 4px, 4px );
    box-shadow: 2px 2px 4px #ccc,
                inset  2px  2px 4px rgb( 255 255 255 / 0.5 ),
                inset -2px -2px 4px rgb(   0   0   0 / 0.5 );
}
