@charset "utf-8";

/* @import url(https://fonts.googleapis.com/css?family=Noto+Serif+JP:400,700&display=swap&text=逋ｽ譛ｨ); */

/* @import url(https://fonts.googleapis.com/css?family=Noto+Serif+JP:400,700&display=swap); */

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    color: #333;
    font-size: clamp( 16px, 1.6vw, 24px );
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}


.css-sample {
    margin: 4.0rem auto;
    padding: 0;
}


#css-sample-appear-1 {
    text-align: center;
}

#css-sample-appear-1 span {
    display: inline-block;
    font-family: serif;
    font-size: 2.0rem;
    font-weight: 700;
    opacity: 0.0;
    transform: scale( 1.0, 0.01 );
    transform-origin: center bottom;
    animation: anim-sample-appear-1 5.0s infinite; /* forwards を指定すると終了後の状態を固定できる */
}

@keyframes anim-sample-appear-1 {
    0% {
        opacity: 0.0;
        transform: scale( 1.0, 0.01 );
    }
    20% {
        opacity: 1.0;
        transform: scale( 1.0, 1.0 );
    }
    80% {
        opacity: 1.0;
        transform: scale( 1.0, 1.0 );
    }
    100% {
        opacity: 0.0;
        transform: scale( 1.0, 0.01 );
    }
}


#css-sample-appear-2 {
    text-align:center;
}

#css-sample-appear-2 span {
    display: inline-block;
    font-family: serif;
    font-size: 2.0rem;
    font-weight: 700;
    opacity: 0.0;
    transform: scale( 0.01, 0.01 ) translate( 0px, -200px ) rotate( 0deg );
    transform-origin: center center;
    animation: anim-sample-appear-2 5.0s infinite; /* forwards を指定すると終了後の状態を固定できる */
}

@keyframes anim-sample-appear-2 {
    0% {
        opacity: 0.0;
        transform: scale( 0.01, 0.01 ) translate( 0px, -200px ) rotate( 0deg );
    }
    25% {
        opacity: 1.0;
        transform: scale( 1.0, 1.0 ) translate( 0, 0 ) rotate( 360deg );
    }
    75% {
        opacity: 1.0;
        transform: scale( 1.0, 1.0 ) translate( 0, 0 ) rotate( 360deg );
    }
    100% {
        opacity: 0.0;
        transform: scale( 0.01, 0.01 ) translate( 0px, -200px ) rotate( 0deg );
    }
}


#css-sample-cut-1 {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    background-image: url(./images/sample-3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#css-sample-cut-1 div {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
    font-size: 1.0rem;
    font-weight: 700;
    white-space: nowrap;
    color: #fff;
    mix-blend-mode: difference;
    display: flex;
    align-items: center;
    animation: anim-sample-cut-1 20.0s linear infinite;
}

@keyframes anim-sample-cut-1 {
    0% {
        left: 100%;
        transform: scale( 1.0, 1.0 );
    }
    50% {
        left: calc( 50% - 5.0em );
        transform: scale( 10.0, 10.0 );
    }
    100% {
        left: -10.0em;
        transform: scale( 1.0, 1.0 );
    }
}


#css-sample-cut-2 div {
    margin: 0 auto;
    font-family: sans-serif;
    font-size: 3.0rem;
    font-weight: 700;
    text-align: center;
    width: fit-content;
    background: linear-gradient( 90deg, #ffff00 0%, #00ffff 33%, #ffff00 66%, #00ffff 100%);
    background-size: 300% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: anim-sample-cut-2 2s infinite linear;
}

@keyframes anim-sample-cut-2 {
    0%   { background-position: left; }
    100% { background-position: right; }
}


#css-sample-cut-3 {
    width: 100%;
    height: auto;
}

#css-sample-cut-3 div {
    margin: 0 auto;
    padding: 0;
    width: fit-content;
    font-family: sans-serif;
    font-size: 3.0rem;
    font-weight: 700;
    background-image: url(./images/sample-3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


#css-sample-btn-1 div {
    position: relative;
    margin: 0 auto;
    padding: 1.0rem 2.0rem;
    width: fit-content;
    text-align: center;
    background: rgb( 255 160 96 / 1.0 );
    border-radius: 2.0rem;
    box-shadow: 8px 8px 4px #ccc,
                inset  4px  4px 4px rgb( 255 255 255 / 0.5 ),
                inset -4px -4px 4px rgb(   0   0   0 / 0.5 );
    transition: 0.5s;
    cursor: pointer;
    overflow: hidden;
}

@media ( hover: hover ) {
    #css-sample-btn-1 div:hover {
        color: #009;
        background: rgb( 255 224 128 / 1.0 );
        transform: translate( 4px, 4px );
        box-shadow: 2px 2px 4px #ccc,
                    inset  2px  2px 4px rgb( 255 255 255 / 0.5 ),
                    inset -2px -2px 4px rgb(   0   0   0 / 0.5 );
    }
}

#css-sample-btn-1 div::before {
    position: absolute;
    content: "";
    margin: 0;
    padding: 0;
    top: -10%;
    left: -40px;
    width: 20px;
    height: 120%;
    transform: rotate( 15deg );
    background: rgb( 255 255 255 / 0.8 );
    filter: blur( 10px );
    animation: anim-sample-btn-1 10.0s linear infinite;
}

@keyframes anim-sample-btn-1 {
    0% {
        left: -40px;
    }
    95% {
        left: -40px;
    }
    100% {
        left: calc( 100% + 20px );
    }
}


#css-sample-btn-2 div {
    position: relative;
    margin: 0 auto;
    padding: 1.0rem 2.0rem;
    width: fit-content;
    text-align: center;
    background: rgb( 255 160 96 / 1.0 );
    border-radius: 2.0rem;
    box-shadow: 8px 8px 4px #ccc,
                inset  4px  4px 4px rgb( 255 255 255 / 0.5 ),
                inset -4px -4px 4px rgb(   0   0   0 / 0.5 );
    transition: 0.5s;
    cursor: pointer;
    animation: anim-sample-btn-2 10.0s infinite;
}

@media ( hover: hover ) {
    #css-sample-btn-2 div:hover {
        color: #009;
        background: rgb( 255 224 128 / 1.0 );
        transform: translate( 4px, 4px );
        box-shadow: 2px 2px 4px #ccc,
                    inset  2px  2px 4px rgb( 255 255 255 / 0.5 ),
                    inset -2px -2px 4px rgb(   0   0   0 / 0.5 );
    }
}

@keyframes anim-sample-btn-2 {
    0% {
        transform: none;
    }
    42% {
        transform: none;
    }
    44% {
        transform: scale( 1.5, 1.5 );
    }
    48% {
        transform: scale( 0.5, 0.5 );
    }
    50% {
        transform: none;
    }
    96% {
        transform: none;
    }
    97% {
        transform: rotate( 10deg );
    }
    99% {
        transform: rotate( -10deg );
    }
    100% {
        transform: none;
    }
}

#css-sample-btn-3 div {
    position: relative;
    margin: 0 auto;
    padding: 1.0rem 2.0rem;
    width: fit-content;
    text-align: center;
    color: #333;
    background: #fff;
    border: 1px solid rgb( 255 160 96 / 1.0 );
    border-radius: 2.0rem;
    box-shadow: 8px 8px 4px #ccc;
    overflow: hidden;
    transition: 0.2s;
    cursor: pointer;
    z-index: 1;
}

#css-sample-btn-3 div::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb( 255 160 96 / 1.0 );
    transform-origin: right top;
    transform: scale( 0, 1 );
    transition: transform 0.2s cubic-bezier( 0.45, 0, 0.55, 1 );
    z-index: -1;
}

@media ( hover: hover ) {
    #css-sample-btn-3 div:hover {
        color: #fff;
    }
    #css-sample-btn-3 div:hover::after {
        transform-origin: left top;
        transform: scale( 1, 1 );
    }
}


#css-sample-hover-1 {
}

#css-sample-hover-1 div {
    text-align: center;
}

#css-sample-hover-1 div.wrap {
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

#css-sample-hover-1 div.wrap img {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

#css-sample-hover-1 div.wrap div {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb( 0 0 0 / 0.5 );
    cursor: pointer;
    opacity: 0.01;
    transition: 0.5s;
}

@media ( hover: hover ) {
    #css-sample-hover-1 div.wrap:hover img {
        transform: scale( 1.2, 1.2 );
        filter: blur( 4px );
    }
    #css-sample-hover-1 div.wrap:hover div {
        opacity: 1.0;
    }
}


#css-sample-wait-1 {
    position: relative;
    width: 20px;
    height: 20px;
    background: #0ff;
    border-radius: 80px;
}

#css-sample-wait-1::before {
    position: absolute;
    content: "";
    margin: 0;
    padding: 0;
    top: -5px;
    left: -5px;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    border: 5px solid #0ff;
    filter: blur(0);
    animation: anim-sample-wait-1 1.0s infinite;
}

@keyframes anim-sample-wait-1 {
    0% {
        top: -5px;
        left: -5px;
        width: 20px;
        height: 20px;
        filter: blur(1px);
    }
    50% {
        top: -55px;
        left: -55px;
        width: 120px;
        height: 120px;
        filter: blur(20px);
    }
    100% {
        top: -5px;
        left: -5px;
        width: 20px;
        height: 20px;
        filter: blur(1px);
    }
}


#css-sample-wait-2 {
    position: relative;
    width: 80%;
    height: 20px;
    overflow: hidden;
}

#css-sample-wait-2::before {
    position: absolute;
    content: "";
    margin: 0;
    padding: 0;
    top: 0;
    left: 0%;
    width: 200%;
    height: 100%;
    background: repeating-linear-gradient( 45deg, #fff 0px, #ccc 10px, #fff 20px );
    animation: anim-wait-2 10s linear infinite;
}

@keyframes anim-wait-2 {
    0% {
        left: 0%;
    }
    100% {
        left: -100%;
    }
}

#css-sample-gradient border {
    padding: 1.0em 2.0em;
    border: 10px solid;
    border-image: linear-gradient( yellow, blue ) 1;
    clip-path: inset( 0 round 10px );
}
