@charset "utf-8";

* {
    box-sizing: border-box;
}
html {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 16px;
}
body {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Noto Sans JP', sans-serif;
    background: #f8f8f8;
}
h1 {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 2.0rem;
    font-weight: 700;
}
h2 {
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
    font-weight: 700;
    text-align: center;
}

.sample-area {
    margin: 0 auto;
    padding: 0 1.0rem 1.0rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.0rem;
    display: grid;
    grid-template-columns: repeat( auto-fit, 200px );
}
.sample-box {
    position: relative;
    margin: 0;
    padding: 10px;
    width: 200px;
    height: 160px;
    background: #f8f8f8;
    border: 1px solid #ccc;
    box-shadow: 0 0 0.5rem #0003;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.0rem;
}

#cursor-01 {
    cursor: default;
}

#cursor-02 {
    cursor: none;
}

#cursor-03 {
    cursor: auto;
}

#cursor-04 {
    cursor: context-menu;
}

#cursor-05 {
    cursor: help;
}

#cursor-06 {
    cursor: pointer;
}

#cursor-07 {
    cursor: progress;
}

#cursor-08 {
    cursor: wait;
}

#cursor-09 {
    cursor: cell;
}

#cursor-10 {
    cursor: crosshair;
}

#cursor-11 {
    cursor: text;
}

#cursor-12 {
    cursor: vertical-text;
}

#cursor-13 {
    cursor: alias;
}

#cursor-14 {
    cursor: copy;
}

#cursor-15 {
    cursor: move;
}

#cursor-16 {
    cursor: no-drop;
}

#cursor-17 {
    cursor: not-allowed;
}

#cursor-18 {
    cursor: grab;
}

#cursor-19 {
    cursor: grabbing;
}

#cursor-20 {
    cursor: all-scroll;
}

#cursor-21 {
    cursor: col-resize;
}

#cursor-22 {
    cursor: row-resize;
}

#cursor-23 {
    cursor: n-resize;
}

#cursor-24 {
    cursor: e-resize;
}

#cursor-25 {
    cursor: s-resize;
}

#cursor-26 {
    cursor: w-resize;
}

#cursor-27 {
    cursor: ne-resize;
}

#cursor-28 {
    cursor: nw-resize;
}

#cursor-29 {
    cursor: se-resize;
}

#cursor-30 {
    cursor: sw-resize;
}

#cursor-31 {
    cursor: ew-resize;
}

#cursor-32 {
    cursor: ns-resize;
}

#cursor-33 {
    cursor: nesw-resize;
}

#cursor-34 {
    cursor: nwse-resize;
}

#cursor-35 {
    cursor: zoom-in;
}

#cursor-36 {
    cursor: zoom-out;
}
